/* RESPONSIVE STYLESHEET */

@media all and (max-width: 480px) {
    /* BRAND AND SOCIAL RESPONSIVE */
    .upper-navbar {
        display: none;
    }
    /* CAROUSEL RESPONSIVE */
    .carousel-caption {
        font-size: 0.3em;
    }
    .display-4{
        font-size: 42px !important;
        font-weight: 900;
    }
    nav {
        background-color: #161a1e;
    }
    .hr-line{
        width: 100%;
    }
    .gallery img {
        border-radius: 4px;
        padding-top: 20px;
        margin: 0 auto;
    }
    .background-image-holder{
        display:none;
    }
    .card {
        display: block !important;
    }
    
}
@media all and (min-width: 481px) and (max-width: 580px) {
    .gallery img {
        border-radius: 4px;
        padding-top: 20px;
        margin: 0 auto;
        width: 40%;
    }
    .card {
        display: block !important;
    }
    .upper-navbar {
        display: none;
    }
    .background-image-holder{
        display:none;
    }
}

@media all and (min-width: 581px) and (max-width: 768px) {
.carousel-caption {
    font-size: 0.4em;
}
.background-image-holder{
    display:none;
}
.card {
    display: block !important;
}
.upper-navbar {
    display: none;
}
.navbar-brand {
    background-color: #ed1437;
    color: #fff;
    padding: 5px;
    margin: -10px 0px;
    font-size: 20px;
    border-radius: 4px;
}
.gallery img {
    border-radius: 4px;
    padding-top: 15px;
    margin: 0 auto;    
}
}

@media all and (min-width: 769px) and (max-width: 1024px) {
.carousel-caption {
    font-size: 0.7em;
}
.background-image-holder{
    display:none;
}
.gallery img {
    border-radius: 4px;
    padding-top: 25px;       
}

}
@media all and (min-width: 1025px) and (max-width: 1440px){
.card-block>h4>strong{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
}

@media only screen and (max-width: 768px) {
.parallax-body h1, .parallax-body h2 {
    margin-top: -40px;
  font-size: 24px !important;
}
}

@media only screen and (max-width: 320px) {
.parallax-body h1, .parallax-body h2 {
  font-size: 18px !important;
}
}

@media only screen and (max-width: 1200px) {
.banner .client {
    background-size: 125px 125px !important;
    height: 125px;
}
}
@media only screen and (max-width: 890px) {
.banner .client {
    background-size: 200px 200px !important;
    height: 200px;
}
.banner .client-group .one-fourth { 
    float: left;
    margin-left: 2.564102564102564%;
    width: 100%;
}
.banner .client-group .first, .banner .client-group .one-fourth:nth-child(4) {
    clear: both;
    margin-left: 0;
}
}
@media only screen and (max-width: 500px) {
.banner .client-group .one-fourth {
    width: 100%;
    clear: both;
    margin: 20px 0;
}
}