/**********************

        *******************************
=======================================================
        WEB DESIGN CREATED BY VLADIMIR MANOV
            http://vm-web.com

        *******************************
======================================================= */




/* WEBSITE FONTS 
======================================================= */

@font-face {
    font-family: Cuprum;
    src: url('../fonts/Cuprum.ttf')
}

@font-face {
    font-family: RubikMono;
    src: url('../fonts/RubikMonoOne.ttf')
}

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf')
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Medium.ttf')
}

/* WEBSITE BASICS 
======================================================= */


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #fff; 
}

#wrapper {
    display:none;
}
.section-title {
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin-top: 60px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

#top {
    position: fixed;
    z-index: 1;
    font-size: 40px;
    bottom: 0;
    right: 0;
    color: #000000;
    margin: 25px;
    display:none;
}

#top:hover{
    color: #555;
}
/* BRAND NAME AND SOCIAL LINKS NAVIGATION BAR 
======================================================= 
.upper-navbar{
 display: flex;
 align-items: center;
 background-color: #fff;
 width: 100% !important; 
 margin-top: 50px;
 margin-bottom: 50px;
}

.brand-name {
    font-size: 60px;
    text-align: center;
}

.brand-name>strong{
    color:#ed1437;
}

.social-icons-navbar {
    text-align: center;
}
.social-icons-navbar>a {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #161a1e;
}

.social-icons-navbar>a:hover {
    color: #ed1437 !important;
}
*/

/* NAVIGATION BAR 
======================================================= */
nav {
    position: absoslute;
    z-index: 1;
    margin-bottom: -50px;
    -webkit-transition: background .8s, opacity .8s;
    -moz-transition: background .8s, opacity .8s;
    transition: background .8s, opacity .8s;
}

.brand {
    margin-left: 35px;
}


.navbar-brand {
    background-color: #ed1437;
    color: #fff;
    padding: 13px;
    margin: -35px -10px;
    border-radius: 4px;
    font-size: 30px !important;
}
.brand-display {
    background-color: none;
    color: #fff;
    font-size: 24px;
}
.brand-display:hover{
    color: #fff;
    text-decoration: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(237,20,55, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  ul.navbar-nav{
    padding: 0px 55px;
}

li.nav-item{
    padding-left: 25px;
}

a.nav-link{
    font-family: Lato, Montserrat,'Times New Roman', Times, serif;
    color: #fff;
    letter-spacing: 0.1em;
    font-size: 13px;
    display: block;
    text-transform: uppercase;
}


a.nav-link:hover{
    color: #ccc;
}

.active {
    color: #000000;
    background-color: #fff;
}

.navbar-color + .carousel {
    padding-top: -40px;
}

.navbar-color {
    background-color: #000000;
    -webkit-transition: background .8s, opacity .8s;
    -moz-transition: background .8s, opacity .8s;
    transition: background .8s, opacity .8s;
}

.pressed {
    background-color: #000000 !important;
    border-bottom: 2px solid #ed1437;
}
.hover-toggler:hover {
background-color: #ed1437 !important;   
border-radius: 6px;
}
.navlink {
     text-transform: uppercase !important;
     padding: 20px 0;
     text-align: center;
}
.navlink:hover {
    color: #fff !important;
}


/* CAROUSEL 
======================================================= */

.carousel-item{
    height: 100vh;
}
.carousel-control-next{
    font-size: 150px;
}
.carousel-control-prev {
    font-size: 25px;
    width: 50px;
}

.carousel-caption {
    font-family: Montserrat;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-caption>h2{
    font-size: 3.5em;
    letter-spacing: 0.09em;
}

/* .btn-contact {
    background-color: #ed1437;
    font-size: 14px;
    border: none;
    padding: 15px;
}

.btn-contact:hover {
    background-color: #fff;
    color: #ed1437;
} */

.modal-content {
    background-color: rgb(238, 238, 238);
}
.close {
    font-size: 70px;
    font-weight: 100;
}

.modal-title {
    font-size: 50px;
    font-weight: 100;
}

/* ABOUT US SECTION
======================================================= */
#about {
    position: relative;
}
.history {
    padding-bottom: 50px;
    min-height: 600px;    
}
.history>p.lead {
    font-family: Lato,sans-serif;
    font-size: 16px;
}

.photo-container{
    position: absolute;
    height: 100%;
    top: 0px;
    left:0;
}

.fa-arrow-circle-up {
    display:none;
}
.background-image-holder{
   background: url(../img/side_pic.jpg) 100% 100% no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    margin-left: -200px;
}
.divider-background {
    background-size: cover !important;
    overflow: hidden;
}


/* SERVICES SECTION 
======================================================= */

#services {
    margin-bottom: 45px;
}

.section-lead {
    max-width: 600px;
    margin: 1rem auto 1.5rem;
  }

  
  .service h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ed1437;
    font-size: 1.3rem;
    margin: 1rem 0 0.6rem;
  }
  
  .services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .service {
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e7e7e7;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  
  .service i {
    font-size: 3.45rem;
    margin: 1rem 0;
  }
  
  .service1 i,
  .service1 h4,
  .service1 .cta {
    color: #ed1437;
  }
  
  .service1:hover {
    border: 2px solid #ed1437;
  }
  
  .service2 i,
  .service2 h4,
  .service2 .cta {
    color: #ed1437;
  }
  
  .service2:hover {
    border: 2px solid #ed1437;
  }

  .service > * {
    flex: 1 1 100%;
  }




/* PARALLAX ONE 
======================================================= */

.parallax-body { 
    background-image: url(../img/parallax_picture01.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #1e1e1e;
}

.parallax_02 { 
    background-image: url(../img/parallax_picture02.jpg);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #1e1e1e;
}
.parallax-content {
	padding: 60px;
  max-height: 385px;
}
.parallax-content h1 {    
    font-family: Unknown,sans-serif;
	text-transform: uppercase;
    line-height: 48px;
    letter-spacing: 1px;
    color:#fff;
    font-weight: 900;
}
.parallax-body p {
    font-family: Unknown,sans-serif;
  padding: 30px 10px;
  color: #fff;
}


/* MINI BLOG 
======================================================= */

.card {
    margin: 35px 0;
    border-right: none;
    border-left: none;
    width: 100%;
    border-color: rgb(226, 226, 226);
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease;
    opacity: 0.9;
}
.hidden-blog {
    display:none;
}
.card:hover {
    opacity: 1;
}
.card-body>.card-title {
    font-family: Unknown,sans-serif;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0.05em;;
    padding: 25px 0;
    
}

.card-body>.card-text {
    font-family: Unknown,sans-serif;
    font-size: 18px;
    color: #000000;
}

.card-body>a{
    color: #000000;
    border-radius: 0px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    margin: 10px 0 0;
}

.card-body>a:hover{
    color: #fff;
    background-color: #000000;
}

.card-bottom>ul>li>a {    
    font-family: Unknown,sans-serif;
    font-size: 14px;
    display: inline-block !important    ;
    color: rgb(133, 133, 133);
    padding: 0 10px;
}

.card-bottom>ul>li>a:hover {
    color: #000000;
    text-decoration: none;
}

#loadMore {
    color: #fff;
    background-color: #ed1437;
    border-radius: 2px;
    padding: 10px;
    margin: 25px 15px;
    letter-spacing: 0.1em;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    width: 250px;
}
#loadMore:hover {
    background-color: #c40525;
}
#goBack {
    color: #fff;
    background-color: #a7a7a7;
    border-radius: 2px;
    width: 250px;
    padding: 10px;
    margin: 25px 15px;
    letter-spacing: 0.1em;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    display:none;
}
#goBack:hover {
    background-color: #c0c0c0;
}
/* GOOGLE MAP 
======================================================= */
    #map {
        width: 100%;
        height: 500px;
    }
/* OUR CLIENTS SECTION 
======================================================= */
.banner {  overflow: auto; position:relative; margin-bottom: 25px;}
.banner ul {padding-left: 0;}
.banner li { list-style: none; }
.banner ul li { float: left; }
.banner .dots {
		position: absolute;
		left: 0;
    right: 0;
		margin-left: auto;
		margin-right:auto;
    display:block;
		text-align:center;
	}
		.banner .dots li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;
			text-indent: -999em;
			border: 2px solid #555;
			border-radius: 6px;
			cursor: pointer;
			opacity: .4;
			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;
		}
			.banner .dots li.active {
				background: #aaa;
				opacity: 1;
			}

.banner .client {
		background-size: 120px 120px !important;
		height: 250px;
		float: none;
		position: relative;
		margin: 0 auto;
		transition: background 0.5s ease;
		overflow:visible;
}    	

.banner .client.va-logo {   background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/VA-GREY-lt.png") no-repeat center center; }
	.banner .client.disa-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/DISA-GREY-lt.png") no-repeat center center; }
	.banner .client.centcom-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/USCENTCOM-GREY-lt.png") no-repeat center center; }
	.banner .client.dos-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/DOS-GREY-lt.png") no-repeat center center; }
	
	.banner .client.va-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/VA-COLOR.png") no-repeat center center; }
	.banner .client.disa-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/DISA-COLOR.png") no-repeat center center; }
	.banner .client.centcom-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/USCENTCOM-COLOR.png") no-repeat center center; }
	.banner .client.dos-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/DOS-COLOR.png") no-repeat center center; }
	
	.banner .client.graham-holdings-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/GRAHAM-HOLDINGS-GREY.png") no-repeat center center; }
	.banner .client.blackboard-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/BLACKBOARD-GREY.png") no-repeat center center; }
	.banner .client.k12-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/K12-GREY.png") no-repeat center center; }
	.banner .client.kaplan-university-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/KAPLAN-GREY.png") no-repeat center center; }
	
	.banner .client.graham-holdings-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/GRAHAM-HOLDINGS-COLOR.png") no-repeat center center; }
	.banner .client.blackboard-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/BLACKBOARD-COLOR.png") no-repeat center center; }
	.banner .client.k12-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/K12-COLOR.png") no-repeat center center; }
	.banner .client.kaplan-university-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/KAPLAN-COLOR.png") no-repeat center center; }
	
	li:nth-child(1), li:nth-child(2) { width: 100%; }
	.banner .client-group .one-fourth { 
		float: left;
		margin-left: 2.564102564102564%;
		width: 23.076923076923077%;
	}
	.banner .client-group .first {
		clear: both;
		margin-left: 0;
	}




/* FOOTER 
======================================================= */
footer {
    width: 100%;
    padding: 60px 0 40px 0;
    background-image: url(../img/footer-image.jpg);
    }

.text-widget>.heading {
    font-family: Unknown;
    color: #fff;
    font-size: 32px;
}
.textsec>p{
    font-family: Unknown;    
    color:#fff;
}
.footerwidgets {
    padding: 20px 0;
}
.contactdetail>li {
    padding-top: 15px;
}
.contactdetail>li>a{
    color: #fff;
} 
.contactdetail>li>a>i{
  padding-right: 10px;
}

.contactdetail>li>a:hover{
  text-decoration: none;
  color: #ccc;
}

/* CONTACT FORM 
======================================================= */


.widget-contact {
    padding: 0px 45px 45px 45px;
}

.widget-contact>.heading{
    font-family: Lato, sans-serif;
    color:#fff;
}
.order{
    background: #ed1437 !important;
    border:none;
    width: 100%;
}
.order:hover {
    background: #c40525 !important;
    color: #aaa !important;
}
.order>a:hover{
    text-decoration: none;
}
.contact-content {
    height: 200px;
}
  
h5.order a{
      color:#fff;
  }
  
footer input[type="text"], 
footer textarea,
.blacksidebar .contact-forms input[type="text"], 
.blacksidebar .contact-forms textarea {
  width: 100%;
  margin-bottom: 13px;
  padding: 8px 10px;
  border-radius: 0;
  }

  .copyright {
    font-family: Unknown;
    color: #aaa;
  }
  .author {
      padding: 0 !important;
      margin: 0 !important;
  }



/* =======================================================
====================== GALLERY PAGE ======================
======================================================= */

.gallery {
    padding: 60px 0;
}

.gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.5s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    opacity: 0.9;
}

.gallery img {
    border-radius: 4px;
    max-height: 13.5em;
}




































































