/**********************

        *******************************
=======================================================
        WEB DESIGN CREATED BY VLADIMIR MANOV
            http://vm-web.com

        *******************************
======================================================= */




/* WEBSITE FONTS 
======================================================= */

@font-face {
    font-family: Cuprum;
    src: url('../fonts/Cuprum.ttf')
}

@font-face {
    font-family: RubikMono;
    src: url('../fonts/RubikMonoOne.ttf')
}

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Bold.ttf')
}

/* WEBSITE BASICS 
======================================================= */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    width: 100% !important;
    height: 100% !important;
}
.hr-line{
    width: 250px;
    height: 1px;
    background-color: #ed1437;
}

/* BRAND NAME AND SOCIAL LINKS NAVIGATION BAR 
======================================================= */
.upper-navbar{
 display: flex;
 align-items: center;
 background-color: #fff;
}

.brand-name {
    font-size: 60px;
    text-align: center;
}

.brand-name>strong{
    color:#ed1437;
}

.social-icons-navbar {
    text-align: center;
}
.social-icons-navbar>a {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #161a1e;
}

.social-icons-navbar>a>i{
    font-size: 32px !important;
}
.social-icons-navbar>a:hover {
    color: #ed1437 !important;
}


/* NAVIGATION BAR 
======================================================= */
nav {
    position: absolute;
    z-index: 1;
    margin-bottom: -50px;
    -webkit-transition: background .8s, opacity .8s;
    -moz-transition: background .8s, opacity .8s;
    transition: background .8s, opacity .8s;
}

.brand {
    margin-left: 35px;
}
.brand-display {
    display: none;
}

.navbar-brand {
    background-color: #ed1437;
    color: #fff;
    padding: 15px;
    margin: -30px -10px;
    font-size: 30px;
    border-radius: 4px;
}

.navbar-brand:hover {
    color: #161a1e;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(237,20,55, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  ul.navbar-nav{
    padding: 0px 55px;
}

li.nav-item{
    padding-left: 25px;
}

a.nav-link{
    font-family: 'Times New Roman', Times, serif;
    color:#fff;
    letter-spacing: 0.15em;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
}


a.nav-link:hover{
    color: #aaa;
}

.navbar-color + .carousel {
    padding-top: -40px;
}

.navbar-color {
    background-color: #161a1e;
    -webkit-transition: background .8s, opacity .8s;
    -moz-transition: background .8s, opacity .8s;
    transition: background .8s, opacity .8s;
}

.pressed {
    background-color: #161a1e !important;
    border-bottom: 2px solid #ed1437;
}
.hover-toggler:hover {
background-color: #ed1437 !important;   
border-radius: 6px;
}
.navlink {
     text-transform: uppercase !important;
     padding: 20px 0;
     text-align: center;
}
.navlink:hover {
    color: #fff !important;
}


/* CAROUSEL 
======================================================= */

.carousel {
    border-bottom: 5px solid #ed1437;
}

.carousel-item{
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}
.carousel-control-next{
    font-size: 150px;
}
.carousel-control-prev {
    font-size: 25px;
    width: 50px;
}

.carousel-caption {
    font-family: RubikMono;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-caption>h2{
    font-size: 3.5em;
    letter-spacing: 0.3em;
}

/* ABOUT US SECTION
======================================================= */
#about {
    position: relative;
    border-bottom: 5px solid #f3f3f3;
}

.history {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 600px;
}

.photo-container{
    position: absolute;
    height: 100%;
    top: 0px;
    left:0;
    margin-left:-20px;
}

.background-image-holder{
   background: url(../img/side_pic.jpg) 100% 100% no-repeat;
    width: 90%;
    height: 100%;
    background-size: cover !important;

}
.divider-background {
    background-size: cover !important;
    overflow: hidden;
}


/* SERVICES SECTION 
======================================================= */

.services-title {
    margin-top: 35px;;
}
.card-deck{
    padding: 45px 25px;
    color: #fff;
}
.card-polished {
    background-color: #ed1437;
}
.card-protect {
    background-color: #161a1e;
}

.card-block>h4 {
    padding: 15px;
}

.card-block>p.card-text{
padding: 35px 0px;
letter-spacing: 1px;
}


/* PARALLAX ONE 
======================================================= */

.parallax-body { 
    background-image: url(../img/parallax_picture01.jpg);
    height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #1e1e1e;

    margin: 70px 0;
}
.parallax-content {
	padding: 110px 60px 70px 70px;
  max-height: 385px;
}
.parallax-content h1 {
	text-transform: uppercase;
    line-height: 48px;
    letter-spacing: 1px;
    color:#fff;
    font-weight: 900;
}
.parallax-body h2 {
  padding: 30px 10px;
  color: #fff;
}


/* MINI BLOG 
======================================================= */

.blog-title {
    color: #161a1e;
}
.card {
    margin: 35px 0;
    border-right: none;
    border-left: none;
    width: 100%;
    border-color: rgb(226, 226, 226);
}

.card-body>.card-title {
    color: #161a1e;
    font-size: 36px;
    letter-spacing: 1px;
    padding: 25px 0;
}

.card-body>.card-text {
    color: #161a1e;
}

.card-body>a{
    color: #161a1e;
    border-radius: 0px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    margin: 10px 0 0;
}

.card-body>a:hover{
    color: #fff;
    background-color: #161a1e;
}

.card-bottom>ul>li>a {
    color: #aaa;
    padding: 0 15px;
}

.card-bottom>ul>li>a:hover {
    color: #161a1e;
    text-decoration: none;
}


/* GOOGLE MAP 
======================================================= */
    #map {
        width: 100%;
        height: 500px;
    }
/* OUR CLIENTS SECTION 
======================================================= */
.banner {  overflow: auto; position:relative; margin-bottom: 25px;}
.banner ul {padding-left: 0;}
.banner li { list-style: none; }
.banner ul li { float: left; }
.banner .dots {
		position: absolute;
		left: 0;
    right: 0;
		margin-left: auto;
		margin-right:auto;
    display:block;
		text-align:center;
	}
		.banner .dots li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;
			text-indent: -999em;
			border: 2px solid #555;
			border-radius: 6px;
			cursor: pointer;
			opacity: .4;
			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;
		}
			.banner .dots li.active {
				background: #aaa;
				opacity: 1;
			}

.banner .client {
		background-size: 120px 120px !important;
		height: 250px;
		float: none;
		position: relative;
		margin: 0 auto;
		transition: background 0.5s ease;
		overflow:visible;
}    	

.banner .client.va-logo {   background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/VA-GREY-lt.png") no-repeat center center; }
	.banner .client.disa-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/DISA-GREY-lt.png") no-repeat center center; }
	.banner .client.centcom-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/USCENTCOM-GREY-lt.png") no-repeat center center; }
	.banner .client.dos-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/DOS-GREY-lt.png") no-repeat center center; }
	
	.banner .client.va-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/VA-COLOR.png") no-repeat center center; }
	.banner .client.disa-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/DISA-COLOR.png") no-repeat center center; }
	.banner .client.centcom-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/USCENTCOM-COLOR.png") no-repeat center center; }
	.banner .client.dos-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/DOS-COLOR.png") no-repeat center center; }
	
	.banner .client.graham-holdings-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/GRAHAM-HOLDINGS-GREY.png") no-repeat center center; }
	.banner .client.blackboard-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/BLACKBOARD-GREY.png") no-repeat center center; }
	.banner .client.k12-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/K12-GREY.png") no-repeat center center; }
	.banner .client.kaplan-university-logo { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/KAPLAN-GREY.png") no-repeat center center; }
	
	.banner .client.graham-holdings-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/GRAHAM-HOLDINGS-COLOR.png") no-repeat center center; }
	.banner .client.blackboard-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/BLACKBOARD-COLOR.png") no-repeat center center; }
	.banner .client.k12-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/K12-COLOR.png") no-repeat center center; }
	.banner .client.kaplan-university-logo:hover { background: url("http://ms3.bareseo.com/wp-content/uploads/2015/04/KAPLAN-COLOR.png") no-repeat center center; }
	
	li:nth-child(1), li:nth-child(2) { width: 100%; }
	.banner .client-group .one-fourth { 
		float: left;
		margin-left: 2.564102564102564%;
		width: 23.076923076923077%;
	}
	.banner .client-group .first {
		clear: both;
		margin-left: 0;
	}




/* FOOTER 
======================================================= */
footer {
    width: 100%;
    padding: 60px 0 40px 0;
    background-image: url(../img/footer-image.jpg);
    }

.text-widget>.heading {
    color: #fff;
    font-size: 32px;
}
.textsec>p{
    color:#fff;
}
.footerwidgets {
    padding: 40px 0;
}

.contactdetail>li>a{
    color: #fff;
} 
.contactdetail>li>a>i{
  padding-right: 10px;
}

.contactdetail>li>a:hover{
  text-decoration: none;
  color: #ed1437
}

/* CONTACT FORM 
======================================================= */


.widget-contact {
    padding: 45px 45px 45px 45px;
    background: #161a1e;
    border-radius: 8px;
}

.widget-contact>.heading{
    color:#fff;
    padding-bottom: 20px;
}
.order{
    background: #ed1437 !important;
    border:none;
    width: 100%;
}
.contact-content {
    height: 200px;
}
  
h5.order a{
      color:#fff;
  }
  
footer input[type="text"], 
footer textarea,
.blacksidebar .contact-forms input[type="text"], 
.blacksidebar .contact-forms textarea {
  width: 100%;
  margin-bottom: 13px;
  padding: 8px 10px;
  border-radius: 0;
  }
  .copyright{
      margin-bottom:-30px !important;
  }

  .author{
      color: #aaa;
      margin-top: -10px;
  }

 






























